{
    "bitbucket-oauth": {},
    "github-oauth": {},
    "gitlab-oauth": {},
    "gitlab-token": {},
    "http-basic": {
        "repo.magento.com": {
            "username": "{{ magento_repo_user }}",
            "password": "{{ magento_repo_pass }}"
        }}
}